<footer>
  <!-- <a href="https://balook.github.io"> -->
    <!-- <span> -->
        <!-- <b>{{ site.owner}}</b> -->
    <!-- </span> -->
    <!-- {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %} -->
    <!-- <span>© {{ currentyear }}</span> -->
	  <!-- </a> -->
	<span>
        <a href="http://twitter.com/t3chman" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="http://github.com/balook" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/zbalu/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>

      	<a href="mailto:balooz@protonmail.com" target="_blank"><i class="fas fa-envelope fa-2x"></i><a>
	<!--	<a href="https://paypal.me/zbalu?locale.x=en_GB" target="_blank"><i class="fab fa-paypal fa-2x"></i></a>-->
	</span>

</footer>
