<a href="{{ "/blogs" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Blogs</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "https://docs.google.com/forms/d/1BOSzAYCvbOU_RE0bhHkUauq1KrTHHJK8MLfx3sk3JCs/viewform?edit_requested=true"}}" target=_blank><h2 class="header-link">Subscribe</h2></a>
<a href="https://www.buymeacoffee.com/prob" target=_blank><h2 class="header-link">support</h2></a>
<!--<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>-->

